*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content-wrapper {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-200);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

image {
  max-width: 100%;
}

button,
input {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  color: inherit;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}
