.quiz-container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--bg-300);
  border-radius: 8px;
}

.quiz-container .choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.choices-list li {
  padding: 5px;
  cursor: pointer;
}

.choices-list li:hover {
  padding: 5px;
  cursor: pointer;
  background-color: var(--bg-100);
}

.choices-list li:active {
  background-color: var(--bg-200);
}
